@model dbthirstthing.Models.IndexViewModel
@using dbthirstthing.Helpers
@{
    ViewBag.Title = "Home Page";
}
<table class="table">
    <tr>
        <td>Название</td>
        <td>Текст</td>
        <td>Дата</td>
    </tr>
    @foreach (var item in Model.News)
    {
        <tr>
            <td>@item.header</td>
            <td>@item.content</td>
            <td>@item.newsdate</td>
        </tr>
    }
</table>
<br />
<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x }))
</div>