@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Админ панель (супер секретная)</h1>

<ul>
    <li><a href="/Admin/Waitlist">Waitlist</a></li>
    <li>Второй элемент списка</li>
    <li>Третий элемент списка</li>
</ul>


