@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Бойцовский клуб</h1>
        <p class="lead">Первое правило бойцовского клуба: Не упоминать о бойцовском клубе.</p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Хотите вступить ?</h2>
            <p>
                Больше не нужно стоять под дверью 3 дня без еды, просто пройдите регистрацию.
            </p>
            <p><a class="btn btn-outline-dark" href="/">Регистрация &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Уже участник ?</h2>
            <p></p>
            <p><a class="btn btn-outline-dark" href="/">Вход &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Новости ?</h2>
            <p>А хз, мб будет тут что</p>
            <p><a class="btn btn-outline-dark" href="/">Learn more &raquo;</a></p>
        </section>
    </div>
</main>